<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/css/favicon.ico" />
  <title>U.S. Citizen</title>
</head>

<body>
  <div class="main">
    <section class="questionsAndAnswers">
      <h1>U.S. Citizenship Test</h1>
    </section>

    <ul>
      <% questions.forEach( el=> { %>
            <li class='' data-id='<%=el._id%>'>
                <span <%= el.question %></span>
                <span <%= el.answer %></span>
                <span <%= el.topic %></span>
                <span <%= el.subTopic %></span>
            </li>
        <% }) %>    
        </ul>

        


    </div>
  </body>
</html>